@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Instrument Sans", sans-serif;
}

/* Header */
.nav-link {
  position: relative;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  transform: none;
  transform-origin: 50% 50% 0px;
  color: #007dfc;
  transition: ease-in-out 0.3s;
}

