@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Instrument Sans", sans-serif;
}

/* Header */
.header-shadow {
  background-color: rgb(236, 237, 241);
  border-radius: 50px;
  box-shadow: -3px -3px 6px 0px rgb(250, 251, 255),
    3px 3px 6px 0px rgba(0, 125, 252, 0.15);
  transform: none;
  transform-origin: 50% 50% 0px;
}

.header-inner-shadow {
  background-color: rgb(236, 237, 241);
  border-radius: 50px;
  box-shadow: inset -2px -2px 4px 0px rgb(250, 251, 255),
    inset 2px 2px 4px 0px rgba(0, 125, 252, 0.15);
  transform: none;
  transform-origin: 50% 50% 0px;
}

.header-btn {
  background-color: rgb(236, 237, 241);
  border-radius: 50px;
  box-shadow: -2px -2px 4px 0px rgb(250, 251, 255),
    2px 2px 4px 0px rgba(0, 125, 252, 0.15);
  transform: none;
  transform-origin: 50% 50% 0px;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: -2px -2px 4px 0px  rgb(250, 251, 255),
    2px 2px 4px 0px  rgba(0, 125, 252, 0.15);
  transform: none;
  transform-origin: 50% 50% 0px;
  color: #007dfc;
  transition: ease-in-out 0.3s;
}

